[submodule "themes/hugo-theme-introduction"]
	path = themes/hugo-theme-introduction
	url = git@github.com:victoriadrake/hugo-theme-introduction.git
[submodule "themes/hugo-xmin"]
	path = themes/hugo-xmin
	url = git@github.com:yihui/hugo-xmin.git
