$c-shadow: #26010F;
$c-olive: #343812;
$c-wine: #A6034F;
$c-wine-light: #ff6cb0;
$c-amber: #BF5A1F;
$c-blood: #BB1217;
$c-text: #1e1e1e;
$c-text-light: #cfcfcf;

$c-burgundy: #591E2E;
$c-eyeshadow: #A67280;
$c-petal: #f2C4D0;
$c-coal: #191826;
$c-blush: #D98484;
$c-bone: #F2F0F2;
$c-earth: #5E402C;

$d-gutter: 2px;
$d-xsm: 0.25rem;
$d-sm: 0.3rem;
$d-md: 0.5rem;
$d-lg: 0.75rem;
$d-xlg: 1.1rem;
$d-huge: 1.6rem;

